@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(backtop) {
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
  @include e(icon) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-bottom: 8px solid $color-primary;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }

  &:hover {
    background-color: $color-primary-light-9;
  }
}
