@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include b(button) {
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: #fafafa;
  border-radius: 5px;
  user-select: none;
  min-height: 32px;
  line-height: 1;
  vertical-align: middle;
  padding: 0 20px;

  @include m(tiny) {
    padding: 0 15px;
  }

  @include m(medium) {
    padding: 0 20px;
  }

  @include m(small) {
    padding: 0 18px;
  }

  @include m(large) {
    padding: 0 25px;
  }

  @include when(disabled) {
    &,
    &:hover {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  @include when(round) {
    border-radius: 20px;
  }

  @include m(default) {
    border: 1px solid;
    @include button-variant(
      $font-color-show,
      $color-white,
      $disabled-text-color
    );
    &:hover {
      border: 1px solid;
      @include button-variant(
        $color-primary,
        $color-primary-light-9,
        $color-primary-light-6
      );
    }
  }

  @include m(primary) {
    @include button-variant($color-white, $color-primary, $color-primary);
    &:hover {
      @include button-variant(
        $color-white,
        $color-primary-light-6,
        $color-primary-light-6
      );
    }
  }

  @include m(success) {
    @include button-variant($color-white, $color-success, $color-success);
    &:hover {
      @include button-variant(
        $color-white,
        $color-success-light-6,
        $color-success-light-6
      );
    }
  }

  @include m(warning) {
    @include button-variant($color-white, $color-warning, $color-warning);
    &:hover {
      @include button-variant(
        $color-white,
        $color-warning-light-6,
        $color-warning-light-6
      );
    }
  }

  @include m(danger) {
    @include button-variant($color-white, $color-danger, $color-danger);
    &:hover {
      @include button-variant(
        $color-white,
        $color-danger-light-6,
        $color-danger-light-6
      );
    }
  }
}
