@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(form-item){
    display: flex;
    @include e(label){
        display: inline-flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 12px;
        height: 32px;
        line-height: 32px;
    }

    @include e(content){
        position: relative;
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding-bottom: 18px;
    }

    @include e(error){
        position: absolute;
        left: 0;
        bottom: 0;
        color: $color-danger;
        font-size: 12px;
    }
}