@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(input) {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;

  @include e(wrapper) {
    box-sizing: border-box;
    display: inline-flex;
    border: 1px solid #ccc;
    flex: 1;
    align-items: center;
    position: relative;
    vertical-align: middle;
  }

  @include e(suffix) {
    display: inline-flex;
    margin-right: 5px;
  }

  @include e(prefix) {
    display: inline-flex;
    margin-left: 5px;
  }

  @include e(inner) {
    display: inline-flex;
    outline: none;
    border: none;
    background: none;
    appearance: none;
    padding: 0 10px;
    width: 100%;
    height: 30px;
  }

  @include b(input-group) {
    @include e(append) {
      display: inline-flex;
      padding: 0 10px;
      line-height: 32px;
      vertical-align: middle;
      margin-left: -1px;
      box-shadow: 0 0 0 1px #ccc inset;
    }

    @include e(prepend) {
      display: inline-flex;
      padding: 0 10px;
      line-height: 32px;
      vertical-align: middle;
      margin-right: -1px;
      // box-shadow: 1px 0 0 0 #ccc inset;
      box-shadow: 0 0 0 1px #ccc inset;
    }
  }
}
