@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(option) {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $font-color-show;
  cursor: pointer;

  &:hover {
    background-color: $bg-fill-hover;
  }

  @include when(checked) {
    font-weight: 700;
    color: $color-primary;
  }
}
