@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(radio) {
  display: inline-flex;
  height: 40px;
  user-select: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  @include when(disabled) {
    cursor: not-allowed;

    &.is-checked {
      border-color: $disabled-text-color;
      .#{$namespace}-radio__inner {
        &::after {
          background-color: $disabled-text-color !important;
        }
      }
    }
    .#{$namespace}-radio {
      &__inner {
        background-color: $disabled-bg-color !important;
        border: 1px solid $disabled-text-color !important;
      }

      &__label {
        color: $disabled-text-color !important;
      }
    }
  }

  @include when(checked) {
    &.is-border {
      border-color: $color-primary;
    }
    .#{$namespace}-radio {
      &__inner {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        &::after {
          background-color: $color-white;
        }
      }

      &__label {
        color: $color-primary;
      }
    }
  }

  @include when(border) {
    border: 1px solid $border-color;
    box-sizing: border-box;
    padding: 0 18px;
    border-radius: $borderRadius;
  }

  @include e(input) {
    position: relative;
    margin-right: 6px;
    display: inline-flex;
  }
  @include e(original) {
    position: absolute;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include e(inner) {
    width: 14px;
    height: 14px;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid $color-info;

    &::after {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      bottom: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include e(label) {
    font-size: 14px;
    line-height: 14px;
    color: $font-color-show;
  }
}
