@use "mixins/mixins.scss" as *;
@use "common/var.scss" as *;

@include b(select) {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  padding: 8px 12px;
  line-height: 24px;
  border-radius: $borderRadius;
  background-color: $color-white;
  transition: $transition-duration;
  box-shadow: 0 0 0 1px #dcdfe6 inset;

  &:hover {
    box-shadow: 0 0 0 1px $color-info inset;
  }
  @include when(focused) {
    box-shadow: 0 0 0 1px $color-primary inset;
  }
  @include e(content) {
    width: calc(100% - 16px);
  }

  @include be("input", "wrapper") {
    color: aqua;
  }

  @include e(placeholder) {
    color: #606266;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include when(is-transparent) {
      color: $text-color-placeholder;
      user-select:none;
    }

  }

  @include e(selection){
    display: flex;
    flex-wrap: wrap;
    gap:6px;
  }
  
  @include e(selected-item){
    display: flex;
    align-items: center;
    background-color: $tag-bg-color;
    color: $color-info;
    box-sizing: border-box;
    padding: 0 6px 0 8px;
    border-radius: 4px;
  }

  @include e(icon) {
    margin-left: 2px;
    width: 14px;
    height: 14px;
    display: flex;
    transform: rotate(0);
    transition: $transition-duration;

    @include when(reverse) {
      transform: rotate(180deg);
      color: aqua;
    }
  }
}
