$color-primary: #409eff;
$color-primary-light-6: #61b0ff;
$color-primary-light-7: #87c3ff;
$color-primary-light-8: #a0cefc;
$color-primary-light-9: #cde6ff;
$color-success: #67c23a;
$color-success-light-6: #bdf5a5;
$color-success-light-7: #cdf5bc;
$color-success-light-8: #D0ECC3;
$color-success-light-9: #E8F6E2;
$color-warning: #ffb443;
$color-warning-light-6: #ffc061;
$color-warning-light-7: #ffca7b;
$color-warning-light-8: #ffd69a;
$color-warning-light-9: #ffedd4;
$color-danger: #ff7070;
$color-danger-light-6: #ff8484;
$color-danger-light-7: #ffa1a1;
$color-danger-light-8: #ffbaba;
$color-danger-light-9: #ffe4e4;
$color-info: #909399;
$color-info-light-6: #a3a6ad;
$color-info-light-7: #bfc2ca;
$color-info-light-8: #d3d6de;
$color-info-light-9: #e8ebf4;

$color-white: #ffffff;
$color-black: #000000;

$font-color-show:#606266; // 正常显示的灰色字体
$text-color-placeholder: #a8abb2; // 占位符字体颜色
$disabled-text-color: #a8abb2;
$disabled-bg-color:#f5f7fa;



$bg-fill-hover: #f5f7fa; // 鼠标移动时背景色
$tag-bg-color: #f4f4f5;

$borderRadius: 6px;
$border-color: #dcdfe6;
$border-color-light: #e4e7ed;


$transition-duration:.3s; // 动画时间
$transition-popper-duration:.3s; // 动画时间