$color-primary: #409eff;
$color-primary-light-6: #61b0ff;
$color-primary-light-7: #87c3ff;
$color-primary-light-8: #a0cefc;
$color-primary-light-9: #cde6ff;
$color-success: #67c23a;
$color-success-light-6: #a1f17e;
$color-success-light-7: #d1edc4;
$color-success-light-8: #e1f3d8;
$color-success-light-9: #f0f9eb;
$color-warning: #e6a23c;
$color-warning-light-6: #ffc061;
$color-warning-light-7: #f8e3c5;
$color-warning-light-8: #faecd8;
$color-warning-light-9: #fdf6ec;
$color-danger: #f56c6c;
$color-danger-light-6: #ff8484;
$color-danger-light-7: #fcd3d3;
$color-danger-light-8: #fde2e2;
$color-danger-light-9: #fef0f0;
$color-info: #909399;
$color-info-light-6: #a3a6ad;
$color-info-light-7: #dedfe0;
$color-info-light-8: #e9e9eb;
$color-info-light-9: #f4f4f5;

$color-white: #ffffff;
$color-black: #000000;

$font-color-show:#606266; // 正常显示的灰色字体
$text-color-placeholder: #a8abb2; // 占位符字体颜色
$disabled-text-color: #a8abb2;
$disabled-bg-color:#f5f7fa;



$bg-fill-hover: #f5f7fa; // 鼠标移动时背景色
$tag-bg-color: #f4f4f5;

$borderRadius: 6px;
$border-color: #dcdfe6;
$border-color-light: #e4e7ed;


$transition-duration:.3s; // 动画时间
$transition-popper-duration:.3s; // 动画时间